.title {
  text-align: center;
}
.toolTitle {
  text-align: center;
}
.message {
  text-align: center;
}
#store-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
